* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Cormorant Garamond", serif;
}

// variables

$main-color: #91b40d;

.header {
    background-image: url(../image/main-banner/markus-spiske-71uUjIt3cIs-unsplash.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    .overlay {
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.3;
        position: absolute;
        top: 0;
    }
    .container {
        max-width: 1110px;
        margin: 0 auto;
        position: relative;
        .info {
            width: 100%;
            padding: 20px 0;
            display: flex;
            justify-content: space-around;
            border-bottom: 1px solid #fff;
            .phone {
                width: 100%;
                display: flex;
                i {
                    color: $main-color;
                    &:hover{
                        transform: rotate(45deg);
                    }
                }
                a {
                    color: #fff;
                    font-size: 18px;
                    &:hover {
                        color: $main-color;
                    }
                }
            }
            .social {
                width: 100%;
                display: flex;
                justify-content: end;
                ul {
                    display: flex;
                    gap: 15px;
                    a {
                        color: #fff;
                        &:hover {
                            color: $main-color;
                        }
                    }
                }
            }
        }
    }
    .navbar {
        position: fixed;
        width: 100%;
        padding: 15px 0;
        z-index: 1;
        .container {
            width: 1110px;
            margin: 0 auto;
            .nav-menu {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .logo{
                    .logo2{
                        display: none;
                        width: 115px;
                        height: 45px;
                    }
                }
                .menu {
                    width: 100%;
                    align-self: self-end;
                    ul {
                        display: flex;
                        justify-content: center;
                        img {
                            visibility: hidden;
                        }
                        li {
                            margin-right: 25px;
                            a {
                                color: #fff;
                                font-size: 18px;
                                &:hover {
                                    color: $main-color;
                                    border-bottom: 1px solid #91b40d;
                                }
                                &:hover ul img {
                                    visibility: visible;
                                }
                            }
                        }
                    }
                }
                .search {
                    i {
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

// Start cards

.container {
    width: 1110px;
    margin: 0 auto;
    .cards {
        width: 100%;
        height: auto;
        position: relative;
        bottom: 95px;
        .fruit-card {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .card1 {
                // width: 331px;
                display: flex;
                background-color: #1a5221;
                .card-text {
                    padding: 40px 15px;
                    color: #fff;
                    h2 {
                        padding: 20px 0;
                    }
                    p {
                        padding: 25px 0;
                    }
                }
            }
            .card2 {
                width: 331px;
                display: flex;
                background-color: #91b40d;
                .card-text {
                    padding: 40px 15px;
                    color: #fff;
                    h2 {
                        padding: 20px 0;
                    }
                    p {
                        padding: 25px 0;
                    }
                }
                img {
                    width: 210px;
                }
            }
            .card3 {
                width: 331px;
                display: flex;
                background-color: #ffbf00;
                .card-text {
                    padding: 40px 15px;
                    color: #fff;
                    h2 {
                        padding: 20px 0;
                    }
                    p {
                        padding: 25px 0;
                    }
                }
                img {
                    width: 230px;
                }
            }
        }
    }
}

// Start introduction

.introduction {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .who-we {
        width: 36%;
        height: auto;
        img {
            width: 100%;
            height: 870px;
        }
    }
    .who-we-text {
        width: 63%;
        height: 844px;
        text-align: center;
        background-color: #f2f2f2;
        h2 {
            font-size: 34px;
            font-weight: 700;
            padding: 20px 0;
        }
        p {
            line-height: 1.8;
            padding: 15px 0;
        }
        .quality-icon {
            display: flex;
            justify-content: space-around;
            padding: 20px 0;
        }
    }
}

// Start Garden

.garden {
    width: 100%;
    .container {
        max-width: 1110px;
        margin: 0 auto;
        .our-garden {
            width: 100%;
            text-align: center;
            padding: 30px 0;
            h1 {
                font-size: 38px;
                padding: 15px 0;
            }
        }
        .garden-cards {
            width: 100%;
            display: flex;
            justify-content: space-around;
            .garden-card {
                width: 33%;
                .series {
                    h2 {
                        font-size: 75px;
                    }
                }
            }
        }
    }
}

// Start our products 2

.products {
    width: 100%;
    .container {
        width: 1110px;
        margin: 0 auto;
        .product-text {
            text-align: center;
            padding: 30px 0;
            h2 {
                font-size: 38px;
                padding: 15px;
            }
        }
        .product-list {
            width: 100%;
            ul {
                display: flex;
                justify-content: space-evenly;
                font-size: 22px;
                li {
                    a {
                        color: #888;
                        &:hover {
                            color: $main-color;
                        }
                    }
                }
            }
        }
        .product-card {
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            padding: 40px 0;
            .fruit-info {
                width: 200px;
                height: 270px;
                background-color: #fdfafa;
                margin-bottom: 15px;
                .fruit-price {
                    background-color: #fff;
                    width: 200px;
                    cursor: pointer;
                    -webkit-box-shadow: 2px 6px 5px 0px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 2px 6px 5px 0px rgba(0, 0, 0, 0.75);
                    box-shadow: 2px 6px 5px 0px rgba(0, 0, 0, 0.75);
                    h4 {
                        text-align: center;
                        font-size: 22px;
                    }
                    span {
                        color: $main-color;
                        text-align: center;
                        font-size: 25px;
                        padding: 0 82px;
                    }
                }
            }
        }
    }
}

// Start Blog

.blog {
    width: 100%;
    .container {
        width: 1110px;
        margin: 0 auto;
        .blog-text {
            width: 100%;
            text-align: center;
            padding: 30px 0;
            h2 {
                font-size: 32px;
                padding: 20px;
            }
        }
        .blog-info {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .blog-card {
                width: 320px;
                img {
                    width: 100%;
                }
                h3 {
                    padding: 25px 0;
                }
            }
        }
    }
}

// Start footer

.footer {
    width: 100%;
    height: auto;
    background-image: url(../image/logo/ezgif.com-gif-maker.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 300px;
    .container {
        width: 1110px;
        margin: 0 auto;
        .footer-list {
            width: 100%;
            display: flex;
            justify-content: space-between;
            h3 {
                font-size: 24px;
                color: #fff;
                padding: 15px 0;
            }
            ul {
                padding: 25px 0;
                li {
                    a {
                        color: #fff;
                        padding: 5px 0;
                        font-size: 20px;
                        &:hover {
                            color: $main-color;
                        }
                    }
                }
            }
        }
        .copyright {
            padding: 30px 0;
            p {
                font-size: 20px;
                color: #fff;
                text-align: start;
            }
        }
    }
}
